@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 6px rgb(36, 85, 158);
}


ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color:rgb(66, 65, 65);
    display: inline-block;
    font-size: 20px;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(127, 181, 216);
    transition:all .6s;
}

li a:hover::after{
    width:100%;
}

ul li .btn-cad{
    padding: 0 20px;
    text-decoration: none;
    color:rgb(66, 65, 65);
    display: inline-block;
    font-size: 19px;
}

li .btn-cad::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(64, 155, 216);
    transition:all .6s;
}

li .btn-cad:hover::after{
    width:100%;
}




main{
    display:flex;
    height: 100%;
    align-items:center;
    justify-content: center;
}

.content{
    margin-top: 10px;
}

.modalo {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 350px;
    background-color: #FFF;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-evenly;
}

.modelo {
    display: none;
    visibility: hidden;
}

.modal-content > button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.modal-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.modal-content-body {
    margin-top: 20px;
}


button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.icone{
    height: 35px;
    width: 35px;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  #content{
    margin-top: 10px;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #content td, #content th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #content tr:nth-child(even){background-color: #f2f2f2;}
  
  #content tr:hover {background-color: #ddd;}
  
  #content th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #354ebe;
    color: white;
  }



  .modal {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0px 1px 5px rgb(36, 85, 158);
}

.modalHeader button {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;  
    margin: 4px;
    background-color: #eceaeae5;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgb(53, 54, 54);
}

.modalForm{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.modalFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.modalFooter .bn {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;  
    margin: 4px;
    width: 40%;
    height: 50px;
    background-color: #eceaeae5;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgb(47, 47, 48);
}

#novo {
    display: block;
    position: relative;
    width: 450px;
    top: 250px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
}

#novo input{
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline:none;
    
}

#novo .pl{
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#alerta {
    display: block;
    position: relative;
    width: 400px;
    top: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
}



.modall{
    display:none;
    position:absolute;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #35797d;
    box-shadow: 1px 1px #888;
}

.modall h3{
    color: #35797d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modall input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #35797d;
    background: none;
    border: none;
}

.modall button{
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: #f00;
    border-radius: 10px;
    box-shadow: 2px 2px #888;
    margin-left: 0px;
}

.excluir{
    width: 550px;
    height: 200px;
    top:30%;
    left:30%;
}




