@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(36, 85, 158);
}


ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color:rgb(66, 65, 65);
    display: inline-block;
    font-size: 20px;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(245, 186, 130);
    transition:all .6s;
}

li a:hover::after{
    width:100%;
}

main{
    display:flex;
    height: 100%;
    align-items:center;
    justify-content: center;
}

#content{
    margin-top: 10px;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #content td, #content th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #content tr:nth-child(even){background-color: #f2f2f2;}
  
  #content tr:hover {background-color: #ddd;}
  
  #content th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #354ebe;
    color: white;
  }

.icone{
    height: 35px;
    width: 35px;
    align-content: center;
    align-items: center;
    align-self: center;
  }


